.flip-card-before{
    height: 300px;
    width: 225px;
    border-radius: 30px;
    padding: 4.5%;
    border:transparent;
    outline: none;
    position: relative;
    border: solid black 3px;
}
.flip-card-before:focus{
    position: relative;
    /* border:transparent; */
    outline: none;
}
.flip-card-after{
    height: 300px;
    width: 225px;
    border-radius: 25px;
    /* padding: 3.80%; */
   text-align: center;
   border:transparent;
   outline: none;
   position: relative;
   border: solid black 3px;

}

.flip-card-after:focus{
    /* border:transparent; */
    position: relative;
    outline: none;
}
#flip-card-after-text{
    padding-right: 50%;
    font-size: 20px;
}

