.awardsPage{
    height: 803.2px;
    width: 86.72%;
    margin-left: 13.28%;
    display: flex;
    flex-direction: row;
}

.awardHolderLeft{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: solid black 2px;
}

.idkHolder{
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: row;
}

.usernameSide{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: bisque; */
}

.scoreSide{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

.awardDiv{
    height: 16%;
    width: 88%;
    background-color: whitesmoke;
    border: solid black thin;
    margin-left: 5%;
    margin-top: 7%;
    border-radius: 15px;
    text-align: center;
    padding-top: .50%;
}

.awardHolderRight{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: solid black 2px;
}

#columnHeader{
    text-align: center;
    color: black;
    border-bottom: solid 1px black;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
    margin-top: 3%;
}

.awardsDivTwo{
    height: 16%;
    width: 88%;
    background-color: whitesmoke;
    border: solid black thin;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 15px;
    text-align: center;
    padding-top: .50%;
}

#statName{
    border-bottom: solid black 1px;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1.5%;
}