.blogCont{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.blogRightSide{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;
    margin-bottom: 3%;
    font-weight: 600;
}

.blogRightSide > h1{
    margin-left: 5%;
    padding-bottom: .60%;
    border-bottom: whitesmoke 2px solid;
    width: 30.5%;
    color: black;
    margin-top: 2%;
    padding-left: 1%;
}

.blogRightSide > ul{
    color: black;
}

.blogRightSide > ul > li{
    margin-left: 6%;
    font-size: 25px;
    margin-top: 1%;
}

.blogRightSide > ul > li > a{
    color: black;
}

.blogRightSide > ul > li > p {
    font-size: 17px;
    margin-left: 1%;
}