.contactCont{
    float: left;
    height: 100%;
    width: 93%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.contactDiv{
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-items: center; */
    /* background-color: yellow; */
}
.formStyle{
    align-self: center;
    width: 90%;
    /* margin-left: 5%; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: purple; */
    /* margin-top: 12%; */
    /* margin-bottom: 8.5%; */
    /* margin-left: 12%; */
}

.welcomeMessage{
    /* margin-left: 30.75%; */
    font-size: 60px;
    /* margin-top: 4%; */
    /* margin-bottom: -5.5%; */
}

#formHeaderText{
    font-size: 20px;
}

.btn{
    margin-top: .5%;
    float: right;
    width: 14%;
    font-size: 18px;
    background-color: #474D74;
    border: transparent;
}
.btn:hover{
    background-color: #5c67af;
}