/* SMALL SCREEN DEVICES (PHONES, 600px AND BELOW) */
@media only screen and (max-width: 599px)  { 
    [class*="contactCont"]{
        
    }
 }


/* MEDIUM DEVICES (LANDSCAPE TABLETS, 768px AND UP) */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    [class*="contactCont"]{
        
    }
}

/* LARGE DEVICES (LAPTOPS/DESKTOPS, 992px AND UP) */
@media only screen and (min-width: 992px) and (max-width: 1199px)  { 
    [class*="contactCont"]{
        
    }
 }

/* XL DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200px AND UP) */
@media only screen and (min-width: 1200px){ 
    [class*="contactCont"]{

    }
 }



.contactCont{
    float: left;
    height: 100%;
    width: 93%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.contactCont > h1{
    background-color: #475667;
    font-size: 50px;
    padding-left: 1%;
    color: white;
    letter-spacing: 1px;
    height: auto;
    font-family: "Roboto" , "sans-serif";
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contactDiv{
    font-family: "Roboto" , "sans-serif";
    padding: 15px;
    margin: auto;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 26%);

}
.formStyle{
    align-self: center;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.welcomeMessage{
    font-size: 50px;
}

#formHeaderText{
    font-size: 18px;
}

.form-control{
    background-color: rgb(253, 251, 251);
}

.btn{
    margin-top: .5%;
    float: right;
    width: 14%;
    font-size: 18px;
    background-color: #474D74;
    border: transparent;
}
.btn:hover{
    background-color: #5c67af;
}