.homePage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow: hidden;
}

.bioInfo{
    height: 48%;
    width: 74%;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 25.50%;
    margin-top: 2%;
}

.imageCont{
    position: relative;
    height: 94%;
    width: 100%;
    background-color: whitesmoke;
    border: solid #474D74 25px;
    display: flex;
    justify-content: center;
    margin-top: 2.60%;
    margin-left: -8%;
}
.aboutMeText{
    font-size: 21.5px;
    padding-right: 2%;
    color: rgb(13, 14, 58);
    padding-bottom: 1%;
    margin-left: 2%;
    margin-top: 2%;
}

.myImage{
    position: relative;
    height: 88%;
    width: 88%;
    display: flex;
    border-radius: 15px;
    margin-top: 1.25%;
    margin-left: 2%;
    border: solid black 1px;
}

/* .myLinks{
    height: 20%;
    width: 74%;
    background-color: tomato;
} */

.skillsCont{
    height: auto;
    width: 100%;
    margin-left: 17%;
    position: absolute;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
}

.skillsHeaderText{
    font-size: 58px;
    color: black;
    height: 10%;
    width: 100%;
    padding-top: .55%;
}