/* SMALL SCREEN DEVICES (PHONES, 600px AND BELOW) */
@media only screen and (max-width: 599px)  { 
    [class*="home-page"] {
        width: 100%;
    }

    [class*="about-me-cont"]{
        height: auto;
        max-width: 90%;
        flex-wrap: wrap;
        margin: auto;
    }

    #profile-picture {
        height: auto;
        width: 100%;
    }

    [class*="bio-cont"]{
        height: auto;
        width: 100%;
        padding: 2px 0px 7px 7px;
    }

    #home-header{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 35px;
    }

    #bio-header{
        font-size: 24px;
    }

    #bio-text{
        height: auto;
        width: 90%;
        font-size: 14px;
        text-align: center;
        line-height: 1.40;
    }
 }

/* SMALL SCREEN DEVICES (PORTRAIT TABLET/LARGE PHONES, 600px AND UP) */
@media screen and (min-width: 600px) and (max-width: 991px)  { 
    [class*="home-page"] {
        height: auto;
        max-height: 100%;
        width: 100%;
        float: left;
    }

    [class*="about-me-cont"]{
        height: auto;
        width: 95%;
        max-width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #profile-picture {
        height: auto;
        width: 50%;
        margin-bottom: 1%;
        max-height: 385.688;
    }

    [class*="bio-cont"]{
        height: 97.8%;
        width: 50%;
        padding: 2px 0px 7px 7px;
    }

    #home-header{
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 28px;
        margin-bottom: 4%;
    }

    #bio-header{
        padding-top: 2%;
        padding-bottom: .5%;
        font-size: 26px;
    }

    #bio-text{
        height: auto;
        width: 80%;
        font-size: 15px;
        text-align: center;
        line-height: 1.40;
    }
 }

/* XL DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200px AND UP) */
@media only screen and (min-width: 992px){ 
    [class*="home-page"] {
        overflow: auto;
        contain: content;
        height: 100%;
        float: left;
        width: 93%;
    }

    [class*="about-me-cont"]{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    #profile-picture {
        max-height: 80%;
        width: 50%;
        max-width: 45%;
        margin-right: 2%;
    }

    [class*="bio-cont"]{
        min-height: 80%;
        max-width: 40%;
        padding: 0px 22px 0px 22px;
    }

    #home-header{
        font-size: 55px;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    #bio-header{
        font-size: 35px;
        margin-top: 2%;
    }

    #bio-text{
        width: 95%;
        max-width: 95%;
        height: 100%;
        font-size: 20px;
        text-align: left;
        line-height: 1.45;
    }
 }

/* END RESPONSIVE STYLE */

.home-page{
    scroll-behavior: smooth;
    height: 100%;
    contain: content;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.home-page > h1{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #475667;
    font-size: 50px;
    padding-left: 1%;
    color: white;
    letter-spacing: 1px;
    height: auto;
    font-family: "Roboto" , "sans-serif";
    width: 100%;
}

.about-me-cont{
    height: auto;
    width: auto;

}

.about-me-cont > img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    height: auto;
    width: auto;
}

.bio-cont{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.bio-cont > h2{
    text-align: center;
    text-decoration: underline;
    font-family: "Roboto" , "sans-serif";
    padding-bottom: 1%;
}

.bio-cont > p {
    align-self: center;
    height: auto;
    width: auto;
    font-size: 20px;
    line-height: 1.40;
    font-family: "Roboto" , "sans-serif";
}

.my-skills-cont{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding-bottom: 2%;
    align-content: center;
}