@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&family=Source+Sans+Pro:ital,wght@1,600&display=swap');
/* SMALL SCREEN DEVICES (PHONES, 600px AND BELOW) */
@media only screen and (max-width: 599px)  { 
    [class*="project-page"] {
        width: 100%;
    }

    [class*="margin-cont"]{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #project-header{
        font-size: 35px;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 4%;
    }

    [class*="project-card"] {
        height: 320px;
        width: 348px;
        margin-bottom: 6%;
    }

    [class*="project-image"]{
        height: 70%;
        width: 100%;
    }

    [class*="card-bottom"]{
        height: 40%;
        padding: 8px;
    }

    #project-title{
        font-size: 24px;
    }

    #description-text{
        font-size: 13px;
    }

/* STYLE FOR FLIPPED PAGE */

    [class*="project-page-two"]{
        width: 100%;
    }

    [class*="project-div"]{
        width: 100%;
    }
    
    [class*="img-accomp-cont"]{
        width: 100%;
        align-self: center;
        flex-direction: column;
    }

    #exit-btn{
        width: 25%;
        margin-left: 2.4%;
    }

    [class*="project-img-cont"]{
        height: 100%;
        width: 100%;
    }

    #prjct-img-lg{
        height: 20%;
        width: 95%;
    }

    [class*="acomp-cont"]{
        margin: auto;
        height: auto;
        margin-top: 3%;
        width: 95%;
    }

    #acomp-header{
        font-size: 22px;
    }

    #acomp-list{
        padding-right: 8%;
        padding-left: 10%;
    }

    #acomp-item{
        font-size: 16px;
    }

    [class*="hashtag-bar"]{
        margin-top: 3%;
        width: 95%;
        align-self: center;
    }

    #hashtag-span{
        width: auto;
    }

    #keywords-header{
        padding: 5px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
    }

    #hashtag-list{
        font-size: 15px;
    }

    [class*="link-bar"]{
        align-self: center;
        padding: 5px;
        width: 95%;
        margin-top: 3%;
        height: auto;
    }

    #link-btn { 
        height: 100%;
        width: 100%;
    }
 }

/* SMALL SCREEN DEVICES (PORTRAIT TABLET/LARGE PHONES, 600px AND UP) */
@media only screen and (min-width: 600px) and (max-width: 991px)  { 
    [class*="project-page"] {
        width: 100%;
    }

    [class*="margin-cont"]{
        display: inline;
        align-items: center;
    }

    #project-header{
        font-size: 35px;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 4%;
    }

    [class*="project-card"] {
        height: 340px;
        width: 358px;
        margin-bottom: 4%;
        margin-left: 4%;
    }

    [class*="project-image"]{
        height: 70%;
        width: 100%;
    }

    [class*="card-bottom"]{
        height: 40%;
        padding: 8px;
    }

    #project-title{
        font-size: 24px;
    }
    
    #description-text{
        font-size: 13px;
    }

/* STYLE FOR FLIPPED PAGE */

    [class*="project-page-two"]{
        width: 100%;
    }

    [class*="project-div"]{
        width: 100%;
    }

    [class*="img-accomp-cont"]{
        width: 100%;
        align-self: center;
        flex-direction: column;
    }

    #exit-btn{
        margin-right: 17.4%;
        width: 16%;
        align-self: flex-end;
    }

    [class*="project-img-cont"]{
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #prjct-img-lg{
        height: auto;
        width: 65%;
    }

    [class*="acomp-cont"]{
        margin: auto;
        height: auto;
        max-height: 95%;
        margin-top: 3%;
        width: 85%;
    }

    #acomp-header{
        font-size: 22px;
    }

    #acomp-list{
        padding-right: 8%;
        padding-left: 10%;
    }

    #acomp-item{
        font-size: 16px;
    }

    [class*="hashtag-bar"]{
        margin-top: 3%;
        width: 85%;
        align-self: center;
    }

    #hashtag-span{
        width: auto;
    }

    #keywords-header{
        padding: 5px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
    }

    #hashtag-list{
        font-size: 15px;
    }

    [class*="link-bar"]{
        height: auto;
        align-self: center;
        padding: 5px;
        width: 85%;
        margin-top: 3%;
    }

    #link-btn { 
        height: 100%;
        width: 100%;
    }
 }

/* XL DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200px AND UP) */
@media only screen and (min-width: 992px){ 
    [class*="project-page"] {
        height: 100%;
        width: 93%;
    }

    [class*="margin-cont"]{
        padding-bottom: 2%;
        display: inline-block;
    }

    #project-header{
        font-size: 48px;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 2%;
    }

    [class*="project-card"] {
        height: 365px;
        width: 380px;
    }

    #card-id-1{
        margin-left: 3.75%;
    }
    
    #card-id-2{
        margin-left: 3.75%;
    }
    
    #card-id-3{
        margin-left: 3.75%;
    }
    
    #card-id-4{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-5{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-6{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-7{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-8{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-9{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    [class*="project-image"]{
        height: 60%;
        width: 100%;
    }
    [class*="card-bottom"]{
        height: 40%;
        padding: 9px;
    }
    #project-title{
        font-size: 34px;
    }
    #description-text{
        font-size: 18px;
    }
    
/* STYLE FOR FLIPPED PAGE */

    [class*="project-page-two"]{
        width: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    [class*="project-div"]{
        margin-top: .50%;
        width: 95%;
    }

    [class*="img-accomp-cont"]{
        align-self: center;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #exit-btn{
        width: 12%;
        align-self: flex-end;
        margin-right: 2.5%;
    }

    [class*="project-img-cont"]{
        max-height: 460px;
        min-height: 460px;
        max-width: 615px;
        min-width: 615px;
        height: 100%;
        width: 50%;
        flex-direction: row;
    }

    #prjct-img-lg{
        height: auto;
        width: 100%;
    }

    [class*="acomp-cont"]{
        height: 100%;
        width: 40%;
    }

    #acomp-header{
        font-size: 32px;
    }

    #acomp-list{
        padding-left: 9%;
        padding-right: 4%;
    }

    #acomp-item{
        font-size: 22px;
    }

    [class*="hashtag-bar"]{
        height: 6%;
        align-self: center;
        margin-top: 1.5%;
        width: 95%;
    }

    #hastag-span{
        width: 11%;
    }

    #hashtag-list{
        font-size: 22px;
        font-weight: 300;
    }

    [class*="link-bar"]{
        align-self: center;
        width: 95%;
        height: 10%;
        margin-top: 1%;
    }
    #link-btn { 
        height: 100%;
        width: 40%;

    }
 }

/* END RESPONSIVE STYLE */

.project-page {
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
    contain: content;
    display: flex;
    flex-direction: column;
}

.margin-cont{
    height: 100%;
    contain: content;
    overflow: auto;
    /* background-color: chocolate; */
    width: 100%;
}

#project-header{
    background-color: #475667;
    padding-left: 1%;
    color: white;
    letter-spacing: 1px;
    height: auto;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 600;
}

.project-card{
    float: left;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 2%;
    background-color: white;
}

.card-bottom > div{
    height: auto;
    width: 100%;
}

#project-title{
    height: auto;
    width: 90%;
    white-space: nowrap;
    float: left;
    font-family: 'Open Sans';
    font-weight: 600;
}

.card-bottom > div > img{
    float: right;
    height: 50%;
    width: 1.60%;
    margin-top: 1.75%;
    margin-right: 1%;
    cursor: pointer;
}

.project-desc-cont {
    height: 100%;
    width: 100%;
}

#description-text{
    height: 100%;
    width: 95%;
    overflow: auto;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

/* Style for Detailed Project Page */

.project-page-two {
    height: 100%;
    overflow: auto;
    contain: content;
}

.project-div{
    height: 95%;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
}

#exit-btn {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-top: 1.5%;
    padding-top: .50%;
    color: black;
    border: solid black 1px;
    height: auto;
    background-color: white; 
    cursor: pointer;
    margin-bottom: .50%;
  }

.project-div > button:focus {
    outline: none;
}

.img-accomp-cont {
    height: auto;
    z-index: 90;
    position: relative;
    display: flex;
    margin-top: .50%;
}

.project-img-cont {
    float: left;
    display: flex;
    justify-content: center;
}

.project-img-cont > img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.acomp-cont{
    background-color: white; 
    float: left;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.acomp-cont > h3 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 6%), 0 2px 4px 0 rgb(0 0 0 / 2%);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Open Sans';
    font-weight: 600;
}

.acomp-cont > ul {
    list-style: square;
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-left: 9%;
    padding-right: 4%;
}

.acomp-cont > ul > li {
    margin-top: 3.5%;
}

.hashtag-bar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: white;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.hashtag-bar > span {
    height: 100%;
    width: 10%;
    border-right: solid black thin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hashtag-bar > span > h6 {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: -.1%;
    font-size: 20px;
    padding: 3%;    
    font-family: "Open Sans";
    font-weight: 600;
}

.hashtag-bar > div {
    height: auto;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-top: .40%;
    align-items: center;
    scrollbar-width: 1px;
}

#hashtag-list {
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.link-bar {
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    /* height: auto; */
    /* background-color: white;  */
    /* border: solid black 1px; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}

#link-btn-cont{
    height: 100%;
    width: 10%;
    background-color: green;
    border-radius: 35px;
    /*  */
    display: flex;
    justify-content: center;
}

#link-btn{
    /* height: 100%;
    width: 100%; */
    
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

#link-btn:hover{
    background-color: rgb(206, 206, 206);
}

#link-btn:focus{
    outline: none;
}

#link-img{
    height: 90%;
    width: 90%;
    /* height: 72%;
    width: 16%;
    margin-right: 2%; */
}

#link-text{
    height: 30%;
    white-space: nowrap;
}