.prjctPage{
    height: 100%;
}

.prjctCont{
    margin-top: 3%;
    margin-right: .10%;
    margin-left: .68%;
    height: 355px;
    width: 400px;
    background-color: rgb(226, 226, 226);
    float: right;
    overflow: hidden;
    padding-top: .5%;
    padding-right: 1%;
}

/* .prjctContFlipped{
    height: 335px;
    width: 400px;
    margin-top: 3%;
    margin-right: .10%;
    margin-left: .68%;
    background-color: rgb(226, 226, 226);
    float: right;
    overflow: hidden;
} */

.prjctContFlipped{
    margin-left: 8%;
    height: 80%;
    width: 76.5%;
    /* background-color: rgb(192, 192, 192); */
    float: left;
    opacity: .4;
    position: fixed;
    overflow: hidden;
    background-size: cover;
    border: solid rgb(160, 152, 152) 5px;
}


/* .prjctPageTwo{
    height: 800px;
} */

.prjctPageTwo{
    height: 100%;
}

.flipbtn{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 63%;
    width: 103.50%;
    border:none;
    position: relative;
    z-index: 99;
    color:white;
    margin-top: -.30%;
    /* outline: none; */
    /* border-bottom: solid black 3px; */
  }

.flipbtn:focus{
    outline: none;
}

.projectsDesc{
    background-color: red;
    /* position: absolute; */
    position: relative;
    height: 100%;
    font-size: 100px;
    z-index: 0;
}

.flipbtnTwo{
    outline: none;
    margin-top: 2%;
    position: inherit;
    z-index: 99;
    /* margin-left: 101.75%; */
    color: white;
    height: 20px;
    width: 30px;
    /* background-color: rgb(182, 47, 47); */
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 105.5%;
    cursor: pointer;
  }

.flipbtnTwo:focus{
    outline: none;
}

.icon-btn{
    height: 14%;
    width: 5.25%;
    position: absolute;
    z-index:99;
    margin-left: 92.5%;
    margin-top: 56.5%;
}

.icon-btn:hover{
    cursor: pointer;
}

.icon-btn:focus{
    outline: none;
}

.video{
    height: 100%;
    width: 100%;
    z-index: 90;
    position: relative;
}

.accomp{
    height: 100%;
    width: 50%;
    background-color: chartreuse;
    position: absolute;
    z-index: 1;
}

.githubLink{
    height: 5%;
    width: 5%;
    background-color: chartreuse;
    float: right;
    position: absolute;
}