/* SMALL SCREEN DEVICES (PHONES, 600px AND BELOW) */
@media only screen and (max-width: 599px)  { 
    [class*="projectPage"] {
        width: 100%;
    }
    [class*="idk-yet"]{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #project-header{
        font-size: 35px;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 4%;
    }
    [class*="realCard"] {
        height: 320px;
        width: 348px;
        margin-bottom: 6%;
    }
    [class*="prjctImage"]{
        height: 70%;
        width: 100%;
    }
    [class*="infoHolder"]{
        height: 40%;
        padding: 8px;
    }
    #prjctTitle{
        font-size: 24px;
    }
    #description-text{
        font-size: 13px;
    }
    /* STYLE FOR FLIPPED PAGE */
    [class*="project-page-two"]{
        width: 100%;
    }
    [class*="project-div"]{
        width: 100%;
    }
    [class*="imgAndAcompCont"]{
        width: 100%;
        align-self: center;
        flex-direction: column;
    }
    #exit-btn{
        width: 25%;
        margin-left: 2.4%;
    }
    [class*="webBackgroundImg"]{
        height: 100%;
        width: 100%;
    }
    #prjct-img-lg{
        height: 20%;
        width: 95%;
    }
    [class*="acompCont"]{
        margin: auto;
        height: auto;
        margin-top: 3%;
        width: 95%;
    }
    #acomp-header{
        font-size: 22px;
    }
    #acomp-list{
        padding-right: 8%;
        padding-left: 10%;
    }
    #acomp-item{
        font-size: 16px;
    }
    [class*="hashtag-bar"]{
        margin-top: 3%;
        width: 95%;
        align-self: center;
    }
    #hashtag-span{
        width: auto;
    }
    #keywords-header{
        padding: 5px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
    }
    #hashtag-list{
        font-size: 15px;
    }
    [class*="linksForProject"]{
        align-self: center;
        padding: 5px;
        width: 95%;
        margin-top: 3%;
    }
 }

/* SMALL SCREEN DEVICES (PORTRAIT TABLET/LARGE PHONES, 600px AND UP) */
@media only screen and (min-width: 600px) and (max-width: 991px)  { 
    [class*="projectPage"] {
        width: 100%;
    }
    [class*="idk-yet"]{
        display: inline;
        align-items: center;
    }
    #project-header{
        font-size: 35px;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 4%;
    }
    [class*="realCard"] {
        height: 340px;
        width: 358px;
        margin-bottom: 4%;
        margin-left: 4%;
    }
    [class*="prjctImage"]{
        height: 70%;
        width: 100%;
    }
    [class*="infoHolder"]{
        height: 40%;
        padding: 8px;
    }
    #prjctTitle{
        font-size: 24px;
    }
    #description-text{
        font-size: 13px;
    }
    /* STYLE FOR FLIPPED PAGE */
    [class*="project-page-two"]{
        width: 100%;
    }
    [class*="project-div"]{
        width: 100%;
    }
    [class*="imgAndAcompCont"]{
        width: 100%;
        align-self: center;
        flex-direction: column;
    }
    #exit-btn{
        margin-right: 17.4%;
        width: 16%;
        align-self: flex-end;
    }
    [class*="webBackgroundImg"]{
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    #prjct-img-lg{
        height: auto;
        width: 65%;
    }
    [class*="acompCont"]{
        margin: auto;
        height: auto;
        margin-top: 3%;
        width: 85%;
    }
    #acomp-header{
        font-size: 22px;
    }
    #acomp-list{
        padding-right: 8%;
        padding-left: 10%;
    }
    #acomp-item{
        font-size: 16px;
    }
    [class*="hashtag-bar"]{
        margin-top: 3%;
        width: 85%;
        align-self: center;
    }
    #hashtag-span{
        width: auto;
    }
    #keywords-header{
        padding: 5px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
    }
    #hashtag-list{
        font-size: 15px;
    }
    [class*="linksForProject"]{
        align-self: center;
        padding: 5px;
        width: 85%;
        margin-top: 3%;
    }
 }

/* XL DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200px AND UP) */
@media only screen and (min-width: 992px){ 
    [class*="projectPage"] {
        height: 100%;
        width: 93%;
    }
    [class*="idk-yet"]{
        padding-bottom: 2%;
        display: inline-block;
    }
    #project-header{
        font-size: 50px;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 2%;
    }
    [class*="realCard"] {
        height: 380px;
        width: 380px;
    }
    #card-id-1{
        margin-left: 3.75%;
    }
    
    #card-id-2{
        margin-left: 3.75%;
    }
    
    #card-id-3{
        margin-left: 3.75%;
    }
    
    #card-id-4{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-5{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-6{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-7{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-8{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    
    #card-id-9{
        margin-left: 3.75%;
        margin-top: 1.5%;
    }
    [class*="prjctImage"]{
        height: 60%;
        width: 100%;
    }
    [class*="infoHolder"]{
        height: 40%;
        padding: 9px;
    }
    #prjctTitle{
        font-size: 34px;
    }
    #description-text{
        font-size: 18px;
    }
    /* STYLE FOR FLIPPED PAGE */
    [class*="project-page-two"]{
        width: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    [class*="project-div"]{
        margin-top: .50%;
        width: 95%;
    }
    [class*="imgAndAcompCont"]{
        align-self: center;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #exit-btn{
        width: 12%;
        align-self: flex-end;
        margin-right: 2.5%;

    }
    [class*="webBackgroundImg"]{
        max-height: 460px;
        min-height: 460px;
        max-width: 615px;
        min-width: 615px;
        height: 100%;
        width: 50%;
        flex-direction: row;
    }
    #prjct-img-lg{
        height: auto;
        width: 100%;
    }
    [class*="acompCont"]{
        height: 100%;
        width: 40%;
    }
    #acomp-header{
        font-size: 32px;
    }
    #acomp-list{
        padding-left: 9%;
        padding-right: 4%;
    }
    #acomp-item{
        font-size: 22px;
    }
    [class*="hashtag-bar"]{
        margin-top: 1%;
        width: 100%;
    }
    #hastag-span{
        width: 11%;
    }
    #hashtag-list{
        font-size: 22px;
    }
    [class*="linksForProject"]{
        width: 100%;
        margin-top: 1%;
    }
 }
.projectPage {
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
    contain: content;
}
.idk-yet{
    height: auto;
    width: 100%;
}

#project-header{
    background-color: #475667;
    padding-left: 1%;
    color: white;
    letter-spacing: 1.9px;
    height: auto;
    font-family: "Roboto" , "sans-serif";
    width: 100%;
}

.realCard{
    float: left;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    font-family: "Roboto" , "sans-serif";
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.infoHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: solid black thin;
    background-color: white;
}

.infoHolder > div{
    height: auto;
    width: 100%;
}

#prjctTitle{
    height: auto;
    width: 90%;
    white-space: nowrap;
    float: left;
}

.infoHolder > div > img{
    float: right;
    height: 50%;
    width: 1.60%;
    margin-top: 1.75%;
    margin-right: 1%;
    cursor: pointer;
}

.scripHolder {
    height: 100%;
    width: 100%;
}

#description-text{
    height: 100%;
    width: 95%;
    overflow: auto;
    text-align: left;
}

/* Style for Detailed Project Page */

.project-page-two {
    font-family: "Roboto" , "sans-serif";
    height: 100%;
    overflow: auto;
    contain: content;
}

.project-div{
    height: auto;
    display: flex;
    flex-direction: column;
}

#exit-btn {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-top: 1.5%;
    padding-top: .50%;
    color: black;
    border: solid black 1px;
    height: auto;
    background-color: white; 
    cursor: pointer;
    margin-bottom: .50%;
    /* margin-right: 2.5%; */
  }

.project-div > button:focus {
    outline: none;
}

.imgAndAcompCont {
    height: auto;
    z-index: 90;
    position: relative;
    display: flex;
    margin-top: .50%;
}

.webBackgroundImg {
    float: left;
    display: flex;
    justify-content: center;
}

.webBackgroundImg > img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.acompCont{
    background-color: white; 
    float: left;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.acompCont > h3 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 6%), 0 2px 4px 0 rgb(0 0 0 / 2%);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.acompCont > ul {
    list-style: square;
    height: auto;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 9%;
    padding-right: 4%;
}

.acompCont > ul > li {
    margin-top: 3.5%;
}

.hashtag-bar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: white;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.hashtag-bar > span {
    height: 100%;
    border-right: solid black thin;
}

.hashtag-bar > span > h4 {
    height: 100%;
    width: 12%;
    text-align: center;
}

.hashtag-bar > div {
    height: auto;
    width: auto;
    white-space: nowrap;
    display: inline-block;
    align-items: center;
    scrollbar-width: 1px;
}

.hashtag-list {
    margin: auto;
    padding-left: 9%;
    font-size: 22px;
}

.linksForProject {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    height: auto;
    background-color: white; 
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#link-btn-cont{
    height: 100%;
    width: 33%;
}

#link-btn{
    height: 100%;
    width: 100%;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-btn:hover{
    background-color: rgb(206, 206, 206);
}

#link-btn:focus{
    outline: none;
}

#link-img{
    height: 72%;
    width: 16%;
    margin-right: 2%;
}

#link-text{
    height: 30%;
    white-space: nowrap;
}