/* SMALL SCREEN DEVICES (PHONES, 600px AND BELOW) */
@media only screen and (max-width: 599px)  { 
    [class*="resumeCont"]{
        height: auto;
        width: 100%;
        float: left;
    }
    #resume-header{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 35px;
    }
    [class*="downloadIcon"]{
        font-size: 18px;
    }
    [class*="downloadBtn"]{
        right: 6.74%;
        top: 20.64%;
    }
 }

/* MEDIUM DEVICES (LANDSCAPE TABLETS, 768px AND UP) */
@media only screen and (min-width: 600px) and (max-width: 991px) { 
    [class*="resumeCont"]{
        height: auto;
        width: 100%;
        float: left;
    }
    #resume-header{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 35px;
    }
    [class*="downloadIcon"]{
        font-size: 30px;
    }
    [class*="downloadBtn"]{
        right: 9.74%;
        top: 13.64%;
    }
}

/* XL DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200px AND UP) */
@media only screen and (min-width: 992px){ 
    [class*="resumeCont"]{
        height: 100%;
        width: 93%;
    }
    #resume-header{
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 50px;
    }
    [class*="downloadIcon"]{
        font-size: 35px;
    }
    [class*="downloadBtn"]{
        right: 15.74%;
        top: 21.64%;
    }
 }

.resumeCont{
    background-size: cover;
    contain: content;
    overflow: auto;
}

.resumeCont > h1{
    background-color: #475667;
    padding-left: 1%;
    color: white;
    letter-spacing: 1px;
    height: auto;
    font-family: "Roboto" , "sans-serif";
    width: 100%;
}

.downloadBtn {
    height: 6.5%;
    width: 4.5%;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.downloadIcon {
    height: 100%;
    width: 100%;
}

.pdfviewer{
    border: hidden;
    outline: transparent;
    background-color: transparent;
    height: auto;
    width: 100%;
    border: transparent;
    overflow: auto;
    contain: content;
}

.pdfviewer .viewer-layout-container{
    border: transparent;
}

.pdfviewer .viewer-layout-toolbar {
    display: none;
    visibility: hidden;
    background-color: rgb(226, 226, 226);
    color: black;
    align-self: center;
  }