.resumeCont{
    background-size: cover;
    width: 93%;
    float: left;
    height: 100%;
    overflow: auto;
    contain: content;
}

.resumeCont > h1{
    background-color: #475667;
    font-size: 50px;
    padding-left: 1%;
    color: white;
    letter-spacing: 1px;
    height: auto;
    font-family: "Roboto" , "sans-serif";
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: -1%;
}

.resumeCont > a {
    height: 6.5%;
    width: 4.5%;
    position: absolute;
    text-align: center;
    right: 15.74%;
    top: 17.64%;
    z-index: 1;
}

.downloadIcon {
    height: 100%;
    width: 100%;
    font-size: 35px;
}

.pdfviewer{
    border: hidden;
    outline: transparent;
    background-color: transparent;
    height: auto;
    width: 100%;
    border: transparent;
    overflow: scroll;
}

.pdfviewer .viewer-layout-container{
    border: transparent;
}

.pdfviewer .viewer-layout-toolbar {
    visibility: hidden;
    background-color: rgb(226, 226, 226);
    color: black;
    width: 79.7%;
    align-self: center;
  }