@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@media only screen and (max-width: 599px) {
    [class*="welcome-cont"] { 
        background-image: url('../page-images/welcome-page-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    [class*="navHomeBtn"] {
        bottom: 10%;
        height: 8%;
        width: 55%;
        border-radius: 25px;
    }

    [class*="header-text-one"] {
        justify-content: center;
        font-size: 58px;
        white-space: nowrap;
        padding-top: 4.50%;
        padding-bottom: 4.50%;
        margin-bottom: 5%;
    }

    [class*="header-text-two"] {
        font-size: 30px;
        padding-top: 4.50%;
        padding-bottom: 4.50%;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    [class*="welcome-cont"] { 
        background-image: url('../page-images/welcome-pg-bg-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 50%;        
    }

    [class*="navHomeBtn"] {
        margin-top: 36%;
        height: 13%;
        width: 17%;
    }

    [class*="header-text-one"] {
        justify-content: center;
        /* padding-left: 2%; */
        font-size: 70px;
        padding-top: .50%;
        padding-bottom: .50%;
        margin-bottom: 2%;
    }

    [class*="header-text-two"] {
        font-size: 50px;
        padding-top: 1.50%;
        padding-bottom: 1.50%;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) { 
    [class*="welcome-cont"] { 
        background-image: url('../page-images/welcome-pg-bg-2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    [class*="navHomeBtn"] {
        margin-top: 36%;
        height: 13%;
        width: 17%;
    }

    [class*="header-text-one"] {
        padding-left: 2%;
        font-size: 70px;
        padding-top: .50%;
        padding-bottom: .50%;
        margin-bottom: 2%;
    }

    [class*="header-text-two"] {
        font-size: 50px;
        padding-top: 1.50%;
        padding-bottom: 1.50%;
        padding-left: 2.5%;
    }
}

.welcome-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    contain: content;
    position: absolute;
}

.welcome-cont{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
}

.text-cont{
    align-self: flex-start;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif, 'Source Sans Pro', sans-serif;
}

.header-text-one{
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header-text-two{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    background-color: whitesmoke;
}

.navHomeBtn{
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 106%), 0 2px 10px 0 rgb(0 0 0 / 120%);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.navHomeBtn:hover{
    background-color: white;
}

.navHomeBtn:focus{
    outline: none;
}

.navHomeBtn > p {
    letter-spacing: 1.5px;
    margin: auto;
    font-size: 34px;
    font-family: "Sans Open";
}

.navHomeBtn :focus{
    outline: none;
}