.sideBarCont{
    height: 100vw;
    width: 13.25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #4a4e66;
    border-right: solid white 2px;
}

.btnCont{
    height: 74%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.myInfoDiv{
    height: 8.90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid whitesmoke 1px;
}

#myInfoText{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.firstNameText{
    margin-top: 9%;
    color: whitesmoke;
}

.lastNameText{
    margin-top: -30%;
    color: whitesmoke;
}

.ocText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    margin-top: -11%;
    font-weight: 900;
    color: whitesmoke;
}

#navBarBtn{
    height: 6%;
    background-color: #4a4e66;
    width: 100%;
    border-top: solid whitesmoke 1px;
    display: flex;
    flex-direction: row;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid whitesmoke 1px;
    outline: none;
    color: whitesmoke;
}
#navBarBtn:hover{
    cursor: pointer;
}

.homeText{
    align-self: center;
    font-size: 17px;
    padding-top: 7.80%;
}

.awardsText{
    padding-top: 7.80%;
    align-self: center;
    font-size: 17px;
}

.projectsText{
    padding-top: 5.5%;
    align-self: center;
    font-size: 17px;
}


.blogText{
    padding-top: 7.80%;
    align-self: center;
    font-size: 17px;
}

.resumeText{
    padding-top: 6.80%;
    align-self: center;
    font-size: 17px;
}

.contactText{
    padding-top: 7.80%;
    align-self: center;
    font-size: 17px;
}

#fontAwsIcon{
    align-self: center;
    height: 50%;
    width: 42%;
    margin-right: -3%;
}