.sideBarCont{
    height: 100%;
    width: 7%;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 100%), 0 2px 10px 0 rgb(0 0 0 / 60%);
}

.myInfoDiv{
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
}

.myInfoDiv > img{
    height: 100%;
    width: 100%;
}

.btnCont{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}

#navBarBtn{
    height: 19%;
    max-height: 19%;
    min-height: 19%;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}

#navBarBtn:focus{
    outline: none;
}

#textAfterFlip{
    text-decoration: underline;
}

#fontAwsIcon{
    height: 100%;
    max-height: 45%;
    width: 70%;
}

#fontAwsIconResume{
    align-self: center;
    height: 50%;
    width: 38%;
    margin-right: -3%;
}

#fontAwsIconBlog{
    align-self: center;
    height: 50%;
    width: 42%;
    margin-right: -3%;
}


.socialMediaLinks{
    margin-top: 100%;
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.myGithubBtn{
    width: 25%;
    height: 25%;
    border: transparent;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myGithubBtn > a {
    height: 100%;
    width: 100%;
    align-items: center;
}

.myGithubBtn > a > img{
    height: 100%;
    width: 100%;
}

.mylinkedInBtn{
    width: 25%;
    height: 25%;
    border: transparent;
    background-color: transparent;
}

.mylinkedInBtn > a {
    height: 100%;
    width: 100%;
    align-items: center;
}

.mylinkedInBtn > a > img{
    height: 100%;
    width: 100%;
}

.myMediumBtn{
    height: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border: transparent;
    align-items: center;
    background-color: transparent;
}

.myMediumBtn > a{
    height: 100%;
    width: 100%;
    align-items: center;
}

.myMediumBtn > a > img{
    height: 100%;
    width: 100%;
}