html, body {
  background-color: white;
  background-image: url('./page-images/city-bg-img.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-blend-mode: luminosity;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}


html, body, #app, #app>div {
  height: 100%;
}

html, body, #root, .App {
  height: 100%;
}