.skillTypeCont{
    margin-top: 2%;
    /* height: 28%; */
    height: 175px;
    width: 100%;
    background-color: rgb(202, 201, 201);
    border-radius: 8px;
}

.makeFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    padding-left: 5%;
}

.makeFlexColumn{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#skillImg{
    height: 60px;
    width: 70px;
    outline: transparent;
    border: transparent;
}

#skillsTypeText{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    border-bottom: solid black 1px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: .25%;
    padding-bottom: .75%;
}