.hero {
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
