.side {
  width: 150px;
  position: absolute;
  /* z-index: 100; */
  background: #eee;
  /* left: 0; */
  /* overflow-x: hidden; */
  margin-left: 100%;
  /* padding: 8px 0; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
}
.hello{
  position: fixed;
  top: 200px;
  left: 89%;
  z-index: 100;
}

.btn-class{
  content:"center";
}
.contact-btn{
  border-radius: 8px;
  height: 70px;
  width: 55px;
  float: right;
  margin-left: 96.5%;
  position: absolute;
}
.helloTwo{
  position: fixed;
  top: 350px;
  left: 96.5%;
  z-index: 100;
  background-color: white;
}
.carrot{
  height: 20px;
  width: 20px;
}
.carrotTwo{
  height: 20px;
  width: 20px;
}
.carrot-btn{
  border: none;
  background-color: white;
  float: right;
  /* position: relative; */
  position: fixed;
  right: 158.5px;
  bottom: 290px;
  height: 60px;
  width: 20px;
  border-radius: 8px 0 0  8px;
  padding-right: 20px;
  /* padding-left: 15px; */
}
.carrot-btn:active{
  outline: transparent;
}